*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }

nav{
    background: #233025;
    height: 80px;
    width: 100%;
}  

.enlace{
    position: absolute;
    padding: 20px 50px;
}

.logo{
    height: 45px;
}



nav ul{
    float: right;
    
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 5px;
}

nav ul li .descarga{
    color: #4cc75f;
    border: 1px solid #4cc75f;
}


nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
   
}
li a.active, li a:hover{
    background: #4cc75f;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float:  right;
    line-height: 80px;
    
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}



.Contenido{
background-color: #1B271D;
margin-right: 0;
padding: 50px;
padding-bottom: 100%;

}
.Contenido p{
    color: white;
    margin: 50px;
    text-align: justify;
}

.Contenido h2{
    color: white;
    margin: 50px;
    margin-bottom: -40px;
    text-align: justify
}
.Contenido::-webkit-scrollbar{
    width: 7px;
    background: #000;
}


.Footer{
    background-color: #84e85b;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.btn{
    display: inline-block;
    border-radius: 3px;
    padding: 6px 5px;
text-decoration: none;

text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);

}

.btn-green{
    color: white;
    background-color: #84e85b;

}
.btn-green:hover{
    background-color: #68a84d;
}
.btn-green:active{
    background-color: #5ca33e;
}

li{
    color: white;
}
a{
    text-decoration: none;
    color: #8be864;
}


@media (max-width: 952px) {
.enlace{
    padding-left: 20px;
}
 nav ul li a{
    font-size: 16px;
 }

}

@media (max-width: 858px) {

    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #233025;
        top:  80px;
        left: 100%;
        text-align: center;
        transition: all .5s;

    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    li a:hover, li a.active{
         color: green;
    }
    #check:checked ~ ul{
        left: 0;
    }

    .Footer{
        background-color: #84e85b;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
  }