@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
:root{
    --colorTextos: #49454567;
}
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





input, textarea{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    resize: none;
    border-bottom: 1px solid var(--colorTextos);
}

input:focus, textarea:focus{
    outline: none;
    color: rgb(94, 93, 93);
}

input:focus~label, input:valid~label,textarea:focus~label, textarea:valid~label{
    position: absolute;
    top: -14px;
    font-size: 12px;
    color: rgb(0, 141, 71);
}

label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: .3s ease all;
    pointer-events: none;
}

.bara{
    position: relative;
    display: block;
    width: 100%;
}
input:focus~.bara::before,textarea:focus~.bara::before{
    width: 100%;
}
.bara::before{
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right,rgb(5, 255, 255), rgb(5, 255, 255));
    transition: 0.3s ease all;
    left: 0%;

}



   